<% flash.each do |key, value| %>
    <div class="<%= flash_class(key) %>">
        <%= value %>
	</div>
<% end %>
<section class="editVacation">
    <div class="newInnerWrapper">
		<h1>Editing Vacation</h1>
		<%= render 'form', vacation: @vacation %>
   </div>
</section>
