<section class="indexVacation">
    <%= link_to 'New Vacation', new_vacation_path, :class => "btn btn-primary newVacation"  %>
	<div class="indexWrapper">
		<p id="notice"><%= notice %></p>
		<div class="row">
			<% if @vacations != []%>
				<h1>Your vacations list</h1>
			<% else %>
				<h3>You have not created vacations</h3>
			<%end%>
		</div>
		<div class="row">
			<div class="dropdown">
			    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Year filter
			    <span class="caret"></span></button>
			    <ul class="dropdown-menu">
      				<input class="form-control" id="myInput" type="text" placeholder="Search..">
				  	<%@years.each do |year|%>
				  	<li><%= link_to year, vacations_path( :year => year, remote: true) %></li>
				  	<%end%>
		    	</ul>
  			</div>
		</div>
		<div class="vacationsTable">
			<%= render "vacations_table" %>
		</div>
	</div>
</section>
 