// Place all the styles related to the Vacations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


header {

    a.logo {

        font-size: 32px;

        &:hover {
            text-decoration: none;
        }
    }
    a.login {
        float: right;
    }
    a.newVacation {
        margin-top: 0;
        margin-left: 20px;
    }
}

section.indexVacation {
    .indexWrapper{
        margin: 0 auto;
        max-width: 532px;

        h1 {
            text-align: center;
            padding-bottom: 25px;
        }

        ul.list-group {
            .btn-group{
                margin-left: 30px;    
             }
        }
    }
}

section.newVacation, section.editVacation {
    .newInnerWrapper {
        margin: 0 auto;
        max-width: 650px;

        h1 {
            text-align: center;
            padding-bottom: 30px;
        }
        .control-label {
            font-weight: 100;
            font-size: 18px;
        }
        textarea.form-control {
            width: 90%;
        }
        .formSub {
            margin-top: 25px;
        }
        .col-md-6 {
            padding: 0px;
        }
    }
}